"""{{ description }}"""

import sys
from typing import Annotated, {{ type_imports | default(['Optional']) | join(', ') }}
{% if additional_imports %}
{% for import_line in additional_imports %}
{{ import_line }}
{% endfor %}
{% endif %}

import cyclopts
from cyclopts import Parameter
from rich.console import Console

app = cyclopts.App(name="{{ command_name }}", help="{{ description }}")
console = Console()


@app.command
def {{ main_command }}(
    {% for param in parameters %}
    {% if param.typer_type == "Argument" %}
    {{ param.name }}: {{ param.type }},
    {% else %}
    {{ param.name }}: Annotated[{{ param.type }}, Parameter(
        {% if param.options %}{{ param.options | join(', ') }}, {% endif %}
        help="{{ param.description | default('Parameter description.') }}"
    )]{% if param.default is defined %} = {{ param.default | repr }}{% endif %},
    {% endif %}
    {% endfor %}
    verbose: Annotated[bool, Parameter("--verbose", "-v", help="Enable verbose output")] = False,
):
    """{{ command_description | default(description) }}
    
    Parameters
    ----------
    {% for param in parameters %}
    {{ param.name }}
        {{ param.description | default('Parameter description.') }}
    {% endfor %}
    verbose
        Enable verbose output (default: False)
    """
    {% if pre_execution_code %}
    {{ pre_execution_code | indent(4) }}
    {% endif %}
    
    if verbose:
        console.print(f"Running {{ command_name }} with:")
        {% for param in parameters %}
        console.print(f"  {{ param.name }}: {{'{'}}{{ param.name }}{{'}'}}")
        {% endfor %}
    
    try:
        {% if main_logic %}
        {{ main_logic | indent(8) }}
        {% else %}
        # TODO: Implement command logic
        console.print("{{ command_name }} executed successfully!")
        {% endif %}
        
    except Exception as e:
        console.print(f"Error: {e}", style="red")
        if verbose:
            import traceback
            traceback.print_exc()
        sys.exit(1)


{% for subcommand in subcommands | default([]) %}
@app.command
def {{ subcommand.name }}(
    {% for param in subcommand.parameters | default([]) %}
    {% if param.typer_type == "Argument" %}
    {{ param.name }}: {{ param.type }},
    {% else %}
    {{ param.name }}: Annotated[{{ param.type }}, Parameter(
        help="{{ param.description | default('Parameter description.') }}"
    )]{% if param.default is defined %} = {{ param.default | repr }}{% endif %},
    {% endif %}
    {% endfor %}
):
    """{{ subcommand.description }}
    
    Parameters
    ----------
    {% for param in subcommand.parameters | default([]) %}
    {{ param.name }}
        {{ param.description | default('Parameter description.') }}
    {% endfor %}
    """
    {% if subcommand.logic %}
    {{ subcommand.logic | indent(4) }}
    {% else %}
    # TODO: Implement {{ subcommand.name }} logic
    console.print("{{ subcommand.name }} executed!")
    {% endif %}


{% endfor %}

if __name__ == "__main__":
    app()
